body {
    font-family: sans-serif;
}

.second-in-list {
    color: #2ddf5c;
}

h1 {
    font-family: sans-serif;
    color: blue;
}

code {
    font-family: monospace;
    color: red;
}


li + li {
    background-color: black;
    color: white;
}

ol li {
    background-color: black;
    color: white;
}